@charset "ISO-8859-1";

#section{
	border: 2px solid black;
	background-color: #e6f9ff;
	 
}
h4{
	text-decoration: underline;
	font-weight: bolder;
	color: blue;
}
#empname,#basicpay{
	font-weight: bolder;
	
}
label{
	font-weight: bolder;
	text-align: left;
}